@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


html{
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;  /*Почти самый маленький текст (там ещё 16px есть). Будет часто встречаться в форме и попапе, внутри карточек гостиниц*/
  font-size: 18px;
  line-height: 21px;
  color:#000000;
  background-color: #FFFFFF;
}

img{
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content-centering{
  margin: 0 auto;
}

.null-margins{  /*Класс для обнуления отступов*/
  margin: 0;
  padding: 0;
 }


/*Стили для повторяющегося текста*/
.text-6xl{
  font-size: 60px;
  line-height: 78px;
}

.text-3xl{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color:#000000;
}

.text-2xl{ /*Используется в названиях преимуществ*/
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color:#000000;
}

.text-xl{ /*Призывающий текствнутри формы и блоков*/ /*calling-text*/
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.text-base{    /*Рейтинг отелей*/
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.text-name-hotels{ /*Используется в названиях гостиниц*/
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.text-white{
  color:  #ffffff;
}

.name-hotels-links{
  color:#000000;
  text-decoration: none;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.logo-sedona{   /*Логотип в навигации*/
  position: absolute;
  width: 139px;
  height: 70px;
  display: block;
  margin: -5;
  margin-left: 70px;
}

.site-navigation { /*Список ссылок в навигации*/
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 256px;
  max-width: 390px;
  list-style-type: none;
}

.navigation-user {
  max-width: 264px;
  margin-left: auto;
  margin-right: 70px;
}

.navigation-user .site-navigation {
  min-width: 20px;
  min-height: 26px;
}

.navigation-link{
  display: block;
  padding: 20px 19px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  position: relative;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link{
  background-image: url("../images/decorative-elements/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 5px;
}


.navigation-user .navigation-item:nth-child(2) .navigation-link{
  background-image: url("../images/decorative-elements/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 5px;
}

.search{
  width: 18px;
  height: 18px;
  position: relative;
  left: 23px;

}

.heart{
  width: 18px;
  height: 17px;
  position: absolute;
  left: calc(50% - 18.05px/2 - 0.46px);
  top: calc(50% - 17px/2 - 0.5px);
}

.green-circle {
  width: 19px;
  height: 13px;
  background: #7DB54F;
  border-radius: 50%;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -10;
  text-align: center;
  position: absolute;
  left: 24px;
  top: 15px;
}

.desire-button{
  margin-top: 14px;
  margin-bottom: 14px;
}

.large-buttons,
.small-buttons{
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3; /*Чаще всего встречается*/
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}

.large-buttons{
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
}

.small-buttons{
  font-size: 16px;
  line-height: 20px;
  padding-top: 9px;
  padding: 9px 15px 8px 15px;
  border-radius: 4px;
  box-sizing: border-box;
}

.brown-button{
  background-color: #756157;
}

.green-button{
  background-color: #7DB54F;
}


.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.sedona-slogan {
  position: relative;
  top: 51px;
  left: 372px;
  right: 372px;
  bottom: 83px;
}

.index-background {
  background-image: url("../images/decorative-elements/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width:1200px;
  height: 487px;
  }

.index-background::after{
  content: url("../images/decorative-elements/white-carved-element.svg");
  width: 1200px;
  height: 57px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;
}

.advantages-text-capital{
  display: block;
  margin: 0 auto;
  padding-top: 63px;
}

.advantages-text{
  display: block;
  margin: 0;
  padding-top: 31px;
  padding-bottom: 90px;
  text-align: center;
  word-break: break-all;
}

.advantages-list {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
}

.advantages-sublist{    /*Строка с непронумерованными блоками*/
  display: flex;
  width: 1200px;
  justify-content: space-between;
  list-style-type: none;
  box-sizing: border-box;
}

.advantages-images {
  display: block;
  width: 800px;
  height: 384px;
  margin: 0;
  padding: 0;
}

.caption{           /*Описание пронумерованных блоков. "Кубики с текстом"*/
 width: 400px;
 padding: 92px 85px 92px 85px;
 box-sizing: border-box;
}

.caption-unnumbered{
  width: 400px;
  padding: 182px 85px 81px 85px;
  box-sizing: border-box;
}

.background-blue{
 background-color: #82B3D3;
 box-sizing: border-box;
}

.real-town{      /*Широкий блок, включающий в себя описание и картинку*/
  display: flex;
  width: 1200px;
  padding: 0;
  margin: 0;
  }

.devils-bridge {       /*Широкий блок, включающий в себя описание и картинку*/
  display: flex;
  width: 1200px;
  padding: 0;
  margin: 0;
  }

.housing{         /*Блок непронумерованный*/
  background-color:#e6f0fa;
  margin: 0;
  background-image: url("../images/decorative-elements/housing.svg");
  background-repeat: no-repeat;
  background-position: top 80px right 161px;

  }

.meal{               /*Блок непронумерованный*/
  background-color: #ffffff;
  margin: 0;
  background-image: url("../images/decorative-elements/food.svg");
  background-repeat: no-repeat;
  background-position: top 80px right 161px;
}

.souvenirs{         /*Блок непронумерованный*/
  background-color:#e6f0fa;
  margin: 0;
  background-image: url("../images/decorative-elements/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: top 80px right 161px;
}

.small-area{      /*Продолжение пронумерованного списка преимуществ*/
  background-color: #e6f0fa;
  padding: 103px 85px 102px 85px;
  }

.beautiful-road{
  background-color: #e6f0f6;
  padding: 103px 85px 102px 85px;
}

.few-tourists{
  background-color:#e6f0fa;
  padding: 103px 85px 102px 85px;
}

.advantages-title{
  padding-bottom: 30px;
  margin: 0 auto;
 }

 .advantages-subtitle{
  padding-bottom: 30px;
  margin: 0 auto;
 }

.advantage-number,
.advantages-description,
.advantages-description-non-numbered{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.advantage-number{
  padding-bottom: 30px;
}

.blurred-mountains{
  display: block;
  background-image: url("../images/decorative-elements/blurred-mountains.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width:1200px;
  height: 411px;
  }

.search-hotel{     /*Cекция с поиском гостиницы*/
 margin: 0 auto;
}

.question{
  margin:0;
  padding-top: 91px;
}

.date-trip{
  padding-top: 29px;
  padding-bottom: 56px;
  margin: 0 auto;
  text-align: center;
}

.button-search-hotel{
  font-style: normal;
  text-decoration: none;
  width: 574px;
  background-color: #756157;
  border-radius: 4px;
  margin:0 auto;
  margin-left: 313px;
  position: absolute;
}

.useful-info{
  padding-top: 29px;
  padding-bottom: 46px;
  margin: 0 auto;
  text-align: center;
}

.newsletter-subscription-form{
  padding-top: 93px;
}

.form-alignment{
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
  width: 800px;
  height: 60px;
}

.e-mail{
 width: 600px;
 height: 60px;
 border: none;
 background: #F2F2F2;
 border-radius: 0 10px 10px 0;
 transform: matrix(-1, 0, 0, 1, 0, 0);
}

.subscribe{
  width: 200px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 0 10px 10px 0;
}

.mailing{
  padding-top: 94px;
}

.page-footer-container{
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 143px;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  margin-right: auto;
  padding-bottom: 30px;
  padding-left: 70px;
  list-style-type: none;
}

.footer-social-item{
  width: 47px;
  height: 40px;
}

.footer-social-link{
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-vk{
 background-image: url("../images/decorative-elements/vkontakte.svg");
 padding-top: 13px;
 padding-bottom: 13px;
 padding-left: 12px;
}

.footer-social-tg{
 background-image: url("../images/decorative-elements/telegram.svg");
 padding-top: 12px;
 padding-bottom: 13px;
}

.footer-social-ytb{
  background-image: url("../images/decorative-elements/youtube.svg");
  padding-top: 12px;
  padding-right: 13px;
  padding-bottom: 12px;
 }


.logo-html-academy,
.button-link-html{
  display: flex;
  width: 115px;
  height: 33px;
}

.logo-html-academy{
  display: block;
}

.button-link-html{
  padding: 49px 70px 38px 38px;

}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  width: 331px;
  height: 40px;
  padding-top: 45px;
  padding-bottom: 35px;
  margin: 0 auto;
}

.phone-number{
  color:#000000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
}

/*Страница каталога*/
.blurred-mountains{
  background-image: url("../images/decorative-elements/blurred-mountains.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-name {
  font-size: 60px;
  line-height: 78px;
  padding-top: 35px;
  padding-left: 70px;
}

.bread-crumbs {
  font-size: 18px;
  line-height: 21px;
  background-image: url("../images/decorative-elements/white-house.svg");
  background-repeat: no-repeat;
}

.catalog-filter{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 padding: 35px 70px 70px;
 width: 1200px;
 background-image: url("../images/decorative-elements/mountain-background.jpg");
 background-size: 100% auto;
 background-repeat: no-repeat;
}

.sorting-hotels{
 list-style: none;
}

.select-control{
  position: absolute;
  width: 290px;
  height: 49px;
  left: 601px;
  top: 523px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 14px 20px;
  gap: 94px;
}

.infrastructure{
  background-image: url("../images/decorative-elements/check-mark.svg");
  background-repeat: no-repeat;
}

.type-housing{ /*Кружочек нужно было нарисовать с помощью ЦСС?*/
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #CDCDCD;
  position: relative;
  }

.type-housing::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  }

.hotel-found {
  padding-top: 57px;
  padding-left: 72px;
  text-align: left;
}

.first-cheap{
  background-image: url("../images/decorative-elements/big-tick.svg");
  background-repeat: no-repeat;
  padding-top: 64px;
  padding-left: 621px;
  padding-right: 438px;
  background-size: 11px 7px;
  background-position: center right 97px;
}

.button-sorting-hotels{
  position: absolute;
  width: 48px;
  height: 48px;
  left: 969px;
  top: 523px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
}

.show-cards{

}

.show-card,
.show-list{

}


.catalog-cards-hotels {       /*Контейнер с карточкамИ гостиниц*/
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  padding: 0 73px;
  margin:0 auto;
  box-sizing: border-box;
}

.hotel-card{    /*КарточкА гостиницы*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  padding: 20px;
  column-gap: 20px;
}

.hotels-images{
 grid-column: 1/3;

}

.hotel-title {
  grid-column: 1/3;
  margin-bottom: 16px;
}

.hotel-type
.hotel-details-link
.hotel-stars{
  grid-column: 1/2;
}

.hotel-price
.hotel-book-link
.hotel-rating-number{
  grid-column: 2/3;
}

.hotel-rating-number{
  text-align: center;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
  margin: 0;
 }

 .hotel-stars{
  display: flex;
  justify-content: flex-start;
  align-items: center;
 }

 .star{
  background-image: url("../images/decorative-elements/star.svg");
  width: 18px;
  height: 17px;
  padding-right: 6px;
  background-repeat: space repeat;
 }

/*Пагинация*/
.pagination-container {
  display: flex;
  padding: 25px;
  color: #ffffff;
  padding-left: 73px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item{
  margin-right: 8px;
}

.pagination-link{
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 12px;
  text-decoration: none;
}

.pagination-current{
  border: 1px solid #82B3D3;
  border-radius: 4px;
  background-color: #F2F2F2;
  color: #000000;
}
