@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 24px; /*Выбрала чаще всего встречающийся размер текста и межстрочный интервал*/
  line-height: 28px; /*Выбрала чаще всего встречающийся размер текста и межстрочный интервал*/
  color:black;
  background-color: white;
}

.content-centering{
  width: 1200px;
  margin: 0 auto;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.site-navigation { /*Список ссылок в навигации*/
  margin: 0;
  padding: 0;
  max-width: 390px;
}

.navigation-user {
  max-width: 264px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.logo-sedona{   /*Логотип в навигации*/
  width: 139px;
  margin-right: 70px;
}

.main-container {
  flex-grow: 1;
}
/*На этом была завершена разметка "Липкого футера"*/

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.slogan {
  display: block;
  margin: 0 auto;
}

.invitation {
  display: block;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-wrap: wrap;
}

.advantages-images {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  width: 800px;
  /*Если данные картинки подключены через разметку уже, сюда требуется добавить url?*/
}

.top-row{
  display: flex;
  width: 1200px;
  padding: 0;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: center;
}

.real-town{
  background-color: #82B3D3;
  width: 400px;
  color: white;
  padding: 0;
}

.middle-row{
  display: flex;
  width: 1200px;
  padding: 0;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.housing{
  background-color:#e6f0fa;
  width: 400px;
}

.meal{
  background-color: #FFFFFF;
  width: 400px;
}

.souvenirs{
  background-color:#e6f0fa;
  width: 400px;
}

.penultimate-row{
  display: flex;
  width: 1200px;
  padding: 0;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.devils-bridge{
  background-color: #82B3D3;
  width: 400px;
  color: white;
}

.bottom-row{
  display: flex;
  width: 1200px;
  padding: 0;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.small-area{
  background-color: #e6f0fa;
  width: 400px;
}

.beautiful-road{
  background-color: #e6f0f6;
  width: 400px;
}

.few-tourists{
  background-color:#e6f0fa;
  width: 400px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.social-network{
  display: flex;
  width: 200px; /*Оставляю запас на ещё одну иконку соцсети*/
  margin-right: 227px; /* 1200- (115+331+200)=1200-646=554 - осталось на два отступа. Значит каждый отступ = 554/2=227 пикселей*/
}

.logo-html-academy{
  display: flex;
  width: 115px;
  margin-left: 227px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color:black;
  width: 331px;
}
/*На этом оформление крупных сеток главной страницы окончено*/

.main-index {
  background-image: url("../images/decorative-elements/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/*Страница каталога*/

.page-name {
  font-size: 60px;
  line-height: 78px;
}

.bread-crumbs {
  font-size: 18px;
  line-height: 21px;
}

.catalog-filter{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 35px 70px 70px;
width: 1200px;
background-image: url("../images/decorative-elements/mountain-background.jpg");
background-size: 100% auto;
background-repeat: no-repeat;
}

.hotel-found {
  font-size: 30px;
  line-height: 36px;
}

.hotel-title {
  font-size: 24px;
  line-height: 28px;
}

.hotel-cards {
  display: flex;
  width: 340px;
  text-align: left;
}

.hotel-title {
  font-weight: 700;
  color: black;
}
