/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: > 2% and last 1 version
*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;  /*Почти самый маленький текст (там ещё 16px есть). Будет часто встречаться в форме и попапе, внутри карточек гостиниц*/
  font-size: 18px;
  line-height: 21px;
  color:#000000;
  background-color: #FFFFFF;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content-centering {
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px #cccccc;
  width: 1200px;
}

.null-margins {  /*Класс для обнуления отступов*/
  margin: 0;
  padding: 0;
 }


/*Стили для повторяющегося текста*/
.text-6xl {
  font-size: 60px;
  line-height: 78px;
}

.text-3xl {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color:#000000;
}

.text-2xl { /*Используется в названиях преимуществ*/
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color:#000000;
}

.text-xl { /*Призывающий текствнутри формы и блоков*/ /*calling-text*/
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.text-base {    /*Рейтинг отелей*/
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.text-name-hotels { /*Используется в названиях гостиниц*/
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.text-white {
  color:  #ffffff;
}

.name-hotels-links {
  color:#000000;
  text-decoration: none;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: -1px;
}

.logo-sedona {   /*Логотип в навигации*/
  position: absolute;
  width: 139px;
  height: 70px;
  display: block;
  margin: -5;
  margin-left: 70px;
}

.site-navigation { /*Список ссылок в навигации*/
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 237px;
  max-width: 390px;
  list-style-type: none;
}

.navigation-user {
  margin-left: auto;
  margin-right: 70px;
  align-items: center;
}

.navigation-link {
  display: block;
  padding: 20px 18px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  position: relative;
}

.underlined-links:hover {
  color: #756257;
  border-bottom: 2px solid #756257;
  background: transparent;
  padding-bottom: 18px; /*Иначе, при наведении картинка внизу прыгала*/
}

.underlined-links:active {
  color: #756257;
  opacity: 0.3;
  outline: none;
}


.underlined-links:focus {
  color: #756257;
  background: transparent;
}

.navigation-link-user {
  color: #615048;
  border-bottom: 2px solid transparent;
  border-radius: 4px;
}

.navigation-link-user:hover{
  color: #615048;
  border-bottom: 2px solid transparent;
  border-radius: 4px;
}

.navigation-link-user:active  {
  color: #756157;
}

.navigation-link-user:focus  {
  color: #756257;
  outline: 2px solid #491213;
  outline-style: dashed;
}

.navigation-link-user{
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 41px;
  height: 60px;
  color: #000000;
}

.green-circle {
  width: 20px;
  height: 20px;
  background: #7DB54F;
  border-radius: 50%;
  position: absolute;
  right: -3px;
  top: 11px;
  z-index: 1;
}

.text-in-circle {
  font-size: 10px;
  line-height: 20px;
  text-align: center;
}

.desire-button {
  margin-top: 14px;
  margin-bottom: 14px;
  min-width: 160px;
  margin-left: 21px;
}

.button {
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3; /*Чаще всего встречается*/
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}

.button:hover{
  background-color: #68A2CA;
}

.button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button:focus {
  background-color: #68A2CA;
}

.large-buttons {
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
}

.small-buttons {
  font-size: 16px;
  line-height: 20px;
  padding-top: 9px;
  padding: 9px 15px 8px 15px;
  border-radius: 4px;
  box-sizing: border-box;
}

.brown-button {
  background-color: #756157;
}

.brown-button:hover {
  background-color: #615048;
}

.brown-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.brown-button:focus {
  background-color: #615048;
}

.green-button {
  background-color: #7DB54F;
}

.green-button:hover {
  background-color: #6C9E42;
}

.green-button:active {
  background-color: #7DB54F;
}

.green-button:focus {
  background-color: #6C9E42;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.sedona-slogan {
  position: relative;
  top: 51px;
  left: 372px;
  right: 372px;
  bottom: 83px;
}

.index-background {
  background-image: url("../images/decorative-elements/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width:1200px;
  height: 487px;
  }

.index-background::after {
  content: url("../images/decorative-elements/white-carved-element.svg");
  width: 1200px;
  height: 57px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;
}

.advantages-text-capital {
  display: block;
  margin: 0 auto;
  padding-top: 61px;
}

.advantages-text {
  display: block;
  margin: 0;
  padding-top: 31px;
  padding-bottom: 90px;
  text-align: center;
  word-break: break-all;
}

.advantages-list {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-end: 0;
}

.advantages-sublist {    /*Строка с непронумерованными блоками*/
  display: flex;
  width: 1200px;
  justify-content: space-between;
  list-style-type: none;
  box-sizing: border-box;
}

.advantages-images {
  display: block;
  width: 800px;
  height: 384px;
  margin: 0;
  padding: 0;
  object-position: center;
}

.caption {           /*Описание пронумерованных блоков. "Кубики с текстом"*/
 width: 400px;
 padding: 92px 85px 92px 85px;
 box-sizing: border-box;
}

.caption-unnumbered {
  width: 400px;
  padding: 182px 85px 81px 85px;
  box-sizing: border-box;
}

.background-blue {
  background-color: #82B3D3;
  box-sizing: border-box;
}

.real-town {      /*Широкий блок, включающий в себя описание и картинку*/
  display: flex;
  width: 1200px;
  padding: 0;
  margin: 0;
  }

.devils-bridge {       /*Широкий блок, включающий в себя описание и картинку*/
  display: flex;
  width: 1200px;
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  }

.housing {         /*Блок непронумерованный*/
  background-color:#e6f0fa;
  margin: 0;
  background-image: url("../images/decorative-elements/housing.svg");
  background-repeat: no-repeat;
  background-position: top 80px right 161px;
  }

.meal {               /*Блок непронумерованный*/
  background-color: #ffffff;
  margin: 0;
  background-image: url("../images/decorative-elements/food.svg");
  background-repeat: no-repeat;
  background-position: top 80px right 161px;
}

.souvenirs {         /*Блок непронумерованный*/
  background-color:#e6f0fa;
  margin: 0;
  background-image: url("../images/decorative-elements/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: top 80px right 161px;
}

.small-area {      /*Продолжение пронумерованного списка преимуществ*/
  background-color: #e6f0fa;
  padding: 103px 85px 102px 85px;
  }

.beautiful-road {
  background-color: #e6f0f6;
  padding: 103px 85px 102px 85px;
}

.few-tourists {
  background-color:#e6f0fa;
  padding: 103px 85px 102px 85px;
}

.advantages-title {
  padding-bottom: 28px;
  margin: 0 auto;
 }

 .advantages-subtitle {
  padding-bottom: 30px;
  padding-top: 1px;
  margin: 0 auto;
 }

.advantage-number,
.advantages-description,
.advantages-description-non-numbered {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.advantage-number {
  padding-bottom: 30px;
}

.blurred-mountains {
  display: block;
  background-image: url("../images/decorative-elements/blurred-mountains.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width:1200px;
  min-height: 411px;
  background-color: #82b3d3;
  }

.search-hotel {     /*Cекция с поиском гостиницы*/
 margin: 0 auto;
}

.question {
  margin:0;
  padding-top: 89px;
}

.date-trip {
  padding-top: 30px;
  padding-bottom: 57px;
  margin: 0 auto;
  text-align: center;
}

.button-search-hotel {
  font-style: normal;
  text-decoration: none;
  min-width: 574px;
  background-color: #756157;
  border-radius: 4px;
  margin:0 auto;
  margin-left: 313px;
  position: absolute;
  margin-bottom: 93px;
}

.useful-info {
  padding-top: 29px;
  padding-bottom: 46px;
  margin: 0 auto;
  text-align: center;
}

.newsletter-subscription-form {
  padding-top: 154px;
}

.form-alignment {
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
  width: 800px;
  padding-bottom: 1px;
}


.e-mail {
 min-width: 600px;
 min-height: 60px;
 background-color: #F2F2F2;
 border-radius: 10px 0 0 10px;
 border: 3px transparent;
 font-weight: 400;
 font-size: 18px;
 line-height: 26px;
 text-align: left;
 color: #666666;  /*Чёрный с прозрачностью 0,6*/
 padding: 17px 21px 17px 19px;
 outline: none;
}

.subscribe {
  flex-shrink: 0;
  border-radius: 0 10px 10px 0;
  min-width: 200px;
  border: 3px transparent;
  outline: none;
  padding-bottom: 0;
  padding: 12px 15px 12px 15px;
}

.mailing {
  padding-top: 94px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 143px;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  margin-right: auto;
  padding-bottom: 30px;
  padding-left: 70px;
  list-style-type: none;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
  padding-top: 10px;
  padding-left: 2px;
}

.footer-social-link svg{
  fill: #83B3D3;
}

.footer-social-link:hover svg {
  fill: #68A2CA;
}

.footer-social-link:active svg{
  fill: #eae3ef;
}

.footer-social-link:focus svg{
  fill: #68A2CA;
}

.logo-html-academy-svg {
  fill: #000000;
  margin-right: 70px;
  margin-top: 49px;
}

.logo-html-academy-svg:hover {
  fill: #756157;
}

.logo-html-academy-svg:active {
  fill: #d6d0d0;
}

.logo-html-academy-svg:focus {
  fill: #756157;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  height: 40px;
  padding-top: 45px;
  padding-bottom: 35px;
  margin: 0 auto;
}

.phone-number {
  color:#000000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
}

.phone-number:hover{
  color: #756157;
}

.phone-number:active{
  color: #d6d0d0;
}

.phone-number:focus{
  color: #756157;
}

/*Страница каталога*/

.main-catalog-container {
  flex-grow: 1;
}

.page-container-catalog{
  display: block;
  background-image: url("../images/decorative-elements/mountain-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 403px;
  margin: 0;
  background-color: #82b3d3;
}

.inner-header {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-right: 4px;
  margin-bottom: auto;
}

.page-name {
  padding-left: 71px;
  padding-bottom: 4px;
  min-width: 528px;
  text-align: left;
  padding-top: 35px;
  padding-right: 1px;
}


.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-left: 66px;
  padding-top: 6px;
}

.breadcrumbs-link {
  padding: 0 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  vertical-align: top;
  text-decoration: none;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
  outline: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-next {
  width: 6px;
  background-image: url("../images/decorative-elements/breadcrumbs-next-white.svg");
  background-repeat: no-repeat;
  background-size: 5px 8px;
  background-position: center;
  margin-left: 4px;
  margin-right: 4px;
}

.filter {
  display: flex;
  min-width: 1060px;
  margin-left: 72px;
  margin-right: 72px;
  margin-top: 40px;
  padding-right: 4px;
  justify-content: space-between;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  padding-right: 3px;
  border: none;
  margin-right: 64px;
}

.catalog-filter-list {
  padding: 0;
  margin: 30px 0;
  list-style-type: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}

.catalog-filter-items {
  margin-bottom: 13px;
  cursor: pointer;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  padding: 0;
}

.infrastructure {
  position: relative;
  display: block;
  padding-left: 39px;
}

.infrastructure-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  top: 0;
  left: 0;
}

.infrastructure-input[type="checkbox"]:focus + .infrastructure-mark {
  outline: 3px solid #83b3d3;
  background-color: rgba(255, 255, 255, 0.6);
}

.infrastructure-input[type="checkbox"]:active + .infrastructure-mark {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.infrastructure-input[type="checkbox"]:hover + .infrastructure-mark {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.infrastructure-input[type="checkbox"]:checked + .infrastructure-mark {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-image: url("../images/decorative-elements/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.type-home {
  position: relative;
  display: block;
  padding-left: 39px;
}

.type-home-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.type-home-input[type="radio"]:focus + .type-home-mark {
  outline: 3px solid #83b3d3;
  background-color: rgba(255, 255, 255, 0.6);
}

.type-home-input[type="radio"]:active + .type-home-mark {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.type-home-input[type="radio"]:hover + .type-home-mark {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.type-home-input[type="radio"]:checked + .type-home-mark::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #3f5e72;
  top: 5px;
  left: 5px;
}

/*Ползунок*/
.catalog-filter-group-price {
  width: 287px;
  margin-right: 73px;
  margin-left: 106px;  /*Отступ всего 176. 1200-70-70-365-519. А у блоков левых марджины по 70*/
}

.range-scale {
  position: relative;
  top: 27px;
  left: 1px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  bottom: -1px;
  height: 4px;
  background-color: #ffffff;
}

.button-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: 3px transparent;
}

.button-toggle:focus {
  outline: 3px solid #83b3d3;
}

.button-toggle:active {
  outline: 2px solid #83b3d3;
}

.button-toggle:hover {
  background-color: #ffffff;
}

.toggle-min {
  top: -8px;
  left: 4px;
}

.toggle-max {
  top: -9px;
  right: -14px;
}

.range-wrapper-inputs {
  display: flex;
  padding-left: 3px;
}

.range-input {
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 17px;
  padding-right: 19px;
  background-color: transparent;
  border: 2px solid #ffffff;
  margin-top: 34px;
  color: #ffffff;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.range-input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.range-input:focus {
  border: 2px solid #ffffff;
  outline: none;
  box-shadow: inset 0 0 0 3px #81b3d2, 0 0 0 3px #81b3d2;
}

.range-input:active {
  background-color: #756257;
  outline: none;
}

.range-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  outline: none;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.catalog-filter-label-min,
.catalog-filter-label-max {
  position: relative;
}

.catalog-filter-label-min::after,
.catalog-filter-label-max::after {
  position: absolute;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: right;
  right: 14px;
  bottom: 13px;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-label-max::after {
  content: "до";
}

.catalog-filter-label-min::after {
  content: "от";
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.button-catalog-filter {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.button-use {
  width: 160px;
  min-height: 48px;
  background-color: #83b3d3;
  margin-bottom: 20px;
  border-radius: 4px;
  font-family: inherit;
  border: 3px transparent;
}

.button-use:focus {
  background-color: #68a2ca;
  outline: 3px solid #ffffff;
  border-radius: 4px;
}

.button-use:active {
  background-color: #68a2ca;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-use:hover {
  background-color: #68a2ca;
}

.catalog-form {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.button-catalog {
  font-size: 16px;
  line-height: 21px;
  font-family: inherit;
}

.delete {
  width: 160px;
  min-height: 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: none;
  background: none;
  padding-right: 2px;
  padding-bottom: 3px;
}

.delete:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  min-width: 100px;
}

.delete:active {
  opacity: 0.3;
  outline: none;
}

.delete:hover {
  opacity: 0.6;
}


/*Секция под картинкой*/
.sorting-hotels {
 display: flex;
 width: 1057px;
 margin-left: 72px;
 margin-right: 71px;
 padding-top: 56px;
 padding-bottom: 56px;
 align-items: center;
 justify-content: space-between;
}

.hotels-found {
  padding-right: 189px;
  text-align: left;
  display: block;
}

.select-control {
  position: relative;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  display: flex;
  min-width: 290px;
  padding: 9px 104px 12px 18px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 94px;
  background-image: url("../images/decorative-elements/big-tick.svg");
  background-repeat: no-repeat;
  background-position: right 18px top 50%;
  background-size: 12px 7px;
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}



.select-control:focus {
  outline: 2px solid #83b3d3;
  border-radius: 4px;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:hover {
  border: 2px solid #83b3d3;
}

.button-view-mode {
  min-width: 160px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  margin-left: auto;
}

.button-mode-table,
.button-mode-slideshow,
.button-mode-list{
  position: relative;
  min-width: 48px;
  min-height: 48px;
  border: 2px solid  #E5E5E5;
  border-radius: 4px;
}

.button-mode-table{
  background-image: url("../images/decorative-elements/icon-table.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.button-mode-slideshow{
  background-image: url("../images/decorative-elements/icon-slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.button-mode-list{
  background-image: url("../images/decorative-elements/icon-list.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.button-mode-table:hover {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-mode-slideshow:hover {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-mode-list:hover {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-mode-table:active {
  border-radius: 4px;
  border: 2px solid #000000;
  outline: none;
}

.button-mode-slideshow:active {
  border-radius: 4px;
  border: 2px solid #000000;
  outline: none;
}

.button-mode-list:active {
  border-radius: 4px;
  border: 2px solid #000000;
  outline: none;
}

.button-mode-table:focus {
  outline: 2px solid #68A2CA;
  border-radius: 4px;
}

.button-mode-slideshow:focus {
  outline: 2px solid #68A2CA;
  border-radius: 4px;
}

.button-mode-list:focus {
  outline: 2px solid #68A2CA;
  border-radius: 4px;
}


.infrastructure {
  background-image: url("../images/decorative-elements/check-mark.svg");
  background-repeat: no-repeat;
}



.catalog-cards-hotels {       /*Контейнер с карточкамИ гостиниц*/
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  padding: 0 73px;
  margin:0 auto;
  padding-bottom: 66px;
}

.hotel-card {    /*КарточкА гостиницы*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  padding: 20px;
  column-gap: 20px;
}

.hotels-images {
 grid-column: 1/3;

}

.hotel-title {
  grid-column: 1/3;
}

.hotel-type,
.hotel-details-link,
.hotel-stars {
  grid-column: 1/2;
}

.hotel-price,
.hotel-book-link,
.hotel-rating-number {
  grid-column: 2/3;
}

.hotel-rating-number {
  text-align: center;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  vertical-align: center;

 }

 .hotel-stars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1px;
 }

 .star {
  background-image: url("../images/decorative-elements/star.svg");
  width: 18px;
  height: 17px;
  padding-right: 6px;
  background-repeat: space repeat;
 }

/*Пагинация*/

.pagination-container::before {
  position: absolute;
  top: -30px;
  width: 1056px;
  height: 1px;
  content: "";
  background-color: #e6e6e6;
}

.pagination-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1056px;
  color: #ffffff;
  margin: 30px 72px 0 73px;
  padding: 0;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  padding-right: 68px;  /*Ещё для одной кнопки*/
  list-style-type: none;
  min-width: 370px;
  margin: 0;
  margin-right: 194px;
  align-items: center;
  padding-bottom: 8px;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 12px;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-current {
  border-radius: 4px;
  background-color: #F2F2F2;
  color: #000000;
  outline: none;
  display: block;
  min-width: 60px;
  min-height: 60px;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 12px;
  text-decoration: none;
}

.hotels-on-the-page {
  color: #000000;
  display: block;
  width: 177px;
  text-align: left;
  padding-top: 18px;
  padding-bottom: 11px;
  margin-right: 49px;
}

.select-quantity-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  min-width: 160px;
  height: 49px;
  margin-right: 0;
  margin-top: 5px;
  padding: 12px 60px 12px 18px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url("../images/decorative-elements/big-tick.svg");
  background-repeat: no-repeat;
  background-position: right 20px top 50%;
  background-size: 12px 7px;
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}


.number-card-in-select {
  padding-left: 20px;
}

.newsletter-subscription-form-catalog{
  padding-top: 17px;
  padding-bottom: 93px;
}

/*Модальное окно и тултип*/
.modal-container {
  position: fixed;
  top: 198px;
  left: -3px;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  width: 575px;
  margin: auto;
  padding: 62px 70px 70px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-auth {
  width: 715px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-image: url("../images/decorative-elements/closing-mark.svg");
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  outline: none;
  background-color: #e6e6e6;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:active .close-image {
  opacity: 0.3;
  outline: none;
}

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  font-family: inherit;
  text-align: left;
  height: 67px;
}

.search-hotels-form .field-group {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.search-hotels-form-field {
  box-sizing: border-box;
  width: 420px;
  height: 50px; /*Можно задать? Дата же не будет длинной*/
  padding-left: 19px;
  padding-right: 19px;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: 3px transparent;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  background-image: url("../images/decorative-elements/calendar.svg");
  background-repeat: no-repeat;
  background-position: center right 19px;
}

.number-children{
 display: flex;
 flex-direction: row;
 margin-right: auto;
}


.search-hotels-form-field:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
  border-radius: 4px;
  outline: none;
}

.search-hotels-form-field:active {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 4px;
  outline: none;
}

.search-hotels-form-field:hover {
  background-color: #e6e6e6;
}

.field-group {
  display: flex;
}

.field-group .modal-label {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  padding-top: 14px;
  padding-bottom: 12px;
  flex-basis: 120px;
}

.field-group-people {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.modal-label-people {
  width: 155px;
}

.button-found {
  min-width: 575px;
  min-height: 60px;
  border-radius: 10px;
  border: none;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83b3d3;
  font-family: inherit;
  cursor: pointer;
}

.button-found:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
  border-radius: 10px;
}

.button-found:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-found:hover {
  background-color: #68a2ca;
}

.button-modal {   /*+ и -*/
  display: block;
  width: 51px;
  height: 50px;
  background-color: #f2f2f2;
  border: none;
  border-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.plus,
.minus {
  width: 25px;
  height: 25px;
  padding: 6px;
  box-sizing: border-box;
  fill: rgba(0, 0, 0, 0.3);
}

.button-modal:focus .minus,
.button-modal:focus .plus {
  outline: 3px solid #83b3d3;
  border-radius: 2px;
  fill: #000000;
}

.button-modal:active .minus,
.button-modal:active .plus {
  opacity: 0.2;
  outline: none;
}

.button-modal:hover .minus,
.button-modal:hover .plus {
  outline: none;
  fill: #000000;
}

.modal-field-people { /*Окошки с количеством человек*/
  box-sizing: border-box;
  width: 31px;
  height: 50px;
  padding: 0;
  margin: 0;
  border-style: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  background-color: #f2f2f2;
  outline: none;
}

.modal-label-child {
  box-sizing: border-box;
  padding: 12px 43px 12px 0;
}

.footnote-departure-date,
.footnote-arrival-date {
  margin-top: 0;
  margin-bottom: 11px;
  padding-left: 155px;
  line-height: 40px;
  font-size: 16px;
}

.footnote-arrival-date {
  color: #ff5757;
}

.modal-label-child {
  position: relative;
}

.tooltip {
  position: absolute;
  margin-left: 2px;
  width: 25px;
  height: 25px;
}

.tooltip-toggle {
  margin: 0;
  display: block;
  border-radius: 50%;
  border: none;
  padding: 3px 12px 8px 12px;
  margin-bottom: 5px;
  background-color: #83b3d3;
  width: 25px;
  height: 25px;
}

.tooltip-icon {
  display: flex;
}

.tooltip-text {
  box-sizing: border-box;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  width: 256px;
  position: absolute;
  margin-top: 16px;
  left: 5px;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip-text:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 9.5px solid transparent;
  border-right: 9.5px solid transparent;
  border-bottom: 9px solid #333333;
  position: absolute;
  bottom: 100%;
  right: 112px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

/*.modal-container-close {
  display: none;
}*/
